@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: #F30A0A;
    --secondary-color: #222222;
    --ternary-color: #EEEEEE;

    --white: white;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    min-height: 100%;
}