/* Container styling */
.footer-container {
    background: var(--secondary-color);
    padding: 1rem;
}

/* Text styling */
.footer-article > h2 {
    color: var(--primary-color);
    padding: 5px 0;
}

.footer-article > p {
    color: var(--white);
    padding: 10px 0 15px 0;
}

/* Media */
@media screen and (min-width: 960px) {
    .footer-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }

    .footer-article {
        max-width: 320px;
        width: 25%;
    }
}